body {
    background-color: #efefef;
    color: #020202;
    text-align: center;
    font-size: 1.6em;
}

.section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.line:before {
    content: "✽";
    color: green;
}

a, a:hover, a:active {
    color: green;
}
a:visited {
    color: darkgreen !important;
}

header {
    background-color: #ccc;
}

.person-outer {
    background-color: #86c79f !important;
}

.section-3 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
